---
import BaseLayout from '@layouts/BaseLayout.astro'
import Container from '@components/Container.astro'
---

<BaseLayout title="Shulk, Write beautiful code that won't crash.">
	<Container>
		<h1>Shulk</h1>
		<h2>Write beautiful code that won't crash.</h2>

		<p>
			Shulk is an <i>opinionated</i> TypeScript library that enhances your TypeScript code by providing a
			typesafe `match` expression, monads, and a better way to handle states and polymorphism.
		</p>

		<div class="divider" />

		<div class="centered">
			<a class="btn btn-primary" href="/docs/get-started">Get started</a>
			<a class="btn" href="https://github.com/Grouloo/shulk" target="_blank">GitHub repo</a>
		</div>
	</Container>
</BaseLayout>


<style>
	h1,
	h2, p {
		text-align: center;
	}

	.divider {
		margin-top: 45px;
		margin-bottom: 45px;
	}

	.btn {
		color: black;
		font-size: larger;
		text-decoration: none;
		border-radius: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		transition-duration: 0.25s;
	}

	.centered {
		text-align: center;
	}

	.btn:hover {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	.btn-primary {
		background-color: #ffeaa7;
		color: black;
	}

	.btn-primary:hover {
		background-color: #f9de87;
	}
</style>