---
import Footer from '@components/Footer.astro'
import Navbar from '@components/Navbar.astro'
import { match } from 'shulk'

interface Props {
    title: string
	description: string
}

const { title, description } = Astro.props

const currentPath = Astro.url.pathname

const slicedDescription = (description)
    .replace(/\n/g, '')
    .slice(0, 117)
    .trim()

	const descriptionLastChar = slicedDescription.slice(
		slicedDescription.length- 1,
		slicedDescription.length
	)

	const trimmedDescription = match(descriptionLastChar).case({
		'.': () => slicedDescription,
		'!': () => slicedDescription,
		_otherwise: () => slicedDescription
			.trim()
			.concat('...') 
	})
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={trimmedDescription} />
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
		<title>{ title }</title>
	</head>
	<body>
        <Navbar currentPage={currentPath}/>
		<slot />
		<Footer />
	</body>
</html>

<style>
	:global(body) {
		/* this will apply to <body> */
		margin: 0;
		padding: 0;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		        transition: all ease-in 1s;

	}

</style>
<style is:global>
      div[data-rehype-pretty-code-fragment] { background-color: #111; margin: 0; }

	  figure {
		margin: 0; 
	  }

      pre > code {
        font-size: 1.1em;
    	line-height: 1.45;
		background-color: #f6f8fa;
		overflow-x:auto;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 16px;
		padding-bottom: 16px;
      }
    </style>