---
interface Props {
    currentPage: string
}

const { currentPage } = Astro.props
---	
</script>

<nav>
	<div class="left">
		<p>Shulk</p>
		<a href="/" class={currentPage == '/' ? 'selected' : ''}>Home</a>
		<a href="/docs/introduction" class={currentPage.includes('/docs') ? 'selected' : ''}>Docs</a>
		<a href="/examples/" class={currentPage.includes('/examples') ? 'selected' : ''}>Examples</a>
	</div>

	<div class="right">
		<a href="https://www.npmjs.com/package/shulk" target="_blank">NPM</a>
		<a href="https://github.com/Grouloo/shulk" target="_blank">GitHub</a>
	</div>
</nav>

<style>
	nav {
		display: grid;
		background-color: #2d3436;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}

	nav p {
		font-size: larger;
		font-weight: bold;
		color: white;
		display: inline;
		margin-left: 7px;
		margin-right: 7px;
	}

	.left a {
		font-size: larger;
		color: #b2bec3;
		text-decoration: none;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 7px;
		margin-right: 7px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		transition-duration: 0.25s;
	}

	.left a:hover,
	.selected {
		color: #dfe6e9!important;
		background-color: #3f4345;
		border-radius: 7px;
	}

	.left {
		grid-column: 1;
		grid-row: 1;
	}

	.right {
		grid-column: 2;
		grid-row: 1;
		text-align: right;
	}

	.right a {
		font-size: larger;
		color: #b2bec3;
		text-decoration: none;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 7px;
		margin-right: 7px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		transition-duration: 0.25s;
	}

	.right a:hover {
		color: #dfe6e9!important;
		border-radius: 7px;
	}
</style>
